<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-language" content="ja">
        <meta charset="UTF-8">
        <link href="http://todc.github.com/todc-bootstrap/assets/css/bootstrap.css" rel="stylesheet">
        <link href="http://todc.github.com/todc-bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="http://todc.github.com/todc-bootstrap/assets/css/docs.css" rel="stylesheet">
        <link href="http://todc.github.com/todc-bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
        <link rel="stylesheet" href="css/instarest.css">
        <title>backbone workshop</title>
    </head>
    <body id="rakuten">
        <header>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="brand" href="./">Backbone.js</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li>
                                    <a href="../instarest">instarest</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <article>
            <div id="container">
                <ul id="instarest" class="loading">
                    <script type="text/template" id="instarest-template">
                        <%
                            var i,
                                length;
                        %>
                        <li id=<%= id %>>
                            <div class="image">
                                <img src=<%= images.low_resolution.url %>>
                            </div>
                            <ul class="comment-list">
                                <% for(i = 0, length = comments.data.length; i < length; i++) { 
                                    var comment = comments.data[i],
                                        template = _.template($('#instarest-comment-template').html()),
                                         commentHtml = template(comment);
                                %>
                                <%= commentHtml %>
                                <% } %>
                            </ul>
                            <form action="" class="comment-form">
                                <textarea name="comment-text" class="comment-text"></textarea>
                                <button class="comment-post btn btn-primary">投稿</button>
                            </form>
                        </li>
                    </script>
                    <script type="text/template" id="instarest-comment-template">
                        <li id="<%= id %>">
                            <div class="profile"><img src="<%= from.profile_picture %>" alt="<%= from.full_name %>"></div>
                            <div class="comment">
                                <div class="user-name">
                                    <%= from.full_name %>
                                </div>
                                <div class="text">
                                    <%= text %>
                                </div>
                                <div class="time" data-time="<%= created_time %>"></div>
                            </div>
                        </li>
                    </script>
                </ul>
            </div>
        </article>
        <footer>
            <div id="footer">
                <div class="container">
                    <p>Designed and built with all the love in the world by <a href="https://twitter.com/thujikun" target="_blank">@thujikun</a>.</p>
                    <p>Code licensed under <a href="http:http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentation under <a href="http:http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
                    <p><a href="http:http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http:http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
                </div>
            </div>
        </footer>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="js/jquery-ui-1.10.0.custom.min.js"></script>
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="http://backbonejs.org/backbone-min.js"></script>
        <script src="http://mcpants.github.com/jquery.shapeshift/core/jquery.shapeshift.min.js"></script>
        <script src="js/myplugin.js"></script>
        <script src="js/instarest.js"></script>
    </body>
</html>